
.navbar {
	margin: 0;
	border-radius: 0px;
	border: none;
	font-family: 'Roboto', sans-serif
}

.navbar a:focus ,
.navbar .navbar-nav li a:focus {
	outline: 0;
	color: #fff;
}

.navbar-default,
.navbar-inverse {
	border: 0;
}

.navbar-brand {
	color: #FFF !important;
	text-transform: none;
	margin: 0px;
	font-size: 35px;
	padding: 20px 0px 0px;
	font-weight: 400;
}

.nav > li {
	position: relative;
	display: block;
	font-size: 13px;
	margin: 8px 5px 0;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 7px 15px;
	color: #FFF !important;
	border-radius: 5px;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 5px;
	border-radius: 3px;
}


.dropdown-menu > li > a {
	font-weight: 400;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li.active > a {
	color: rgb(95, 105, 115);
}

.nav > li > a:hover, .nav > li.active > a {
	color: #fff !important;
	background: rgba(0,0,0,.3) !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: rgb(95, 105, 115) !important;
}

.navbar-right {
    float: right !important;
}

/* Mobile (Upto 767px) */
@media only screen and (max-width: 767px)  {
	.navbar-toggle {
		border: none !important;
		margin-right: 0px;
	}

	.navbar-collapse {
		background-color: rgb(60,60,60);
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-toggle:hover {
		background: transparent !important;
	}

	.navbar-toggle:focus {
		background: transparent !important;
	}

	.navbar-right {
		float: none;
		margin: 10px 0px 0;
		padding: 0 10px 15px;
		width: 100%;
	}

	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
		overflow-x: visible;
		border-top: 0;
	}
}
