<template name="Footer">
  <footer class="footer">
    <div class="container text-center">
      <div class="footerLogo">
        <a class="fiskelogg" href="{{pathFor route='Home'}}">Fiskelogg.no</a>
      </div>
      <p>Vi tar ikke ansvar for mistet data eller opplysninger du selv oppgir i fiskeloggen.</p>
      <p>Fiskelogg.no © 2017</p>
      <p>
        <a href="{{pathFor route='Home'}}"><i class="fa fa-home fa-fw"></i></a>
        <a href="mailto:filip@fluefiske.net"><i class="fa fa-envelope fa-fw"></i></a>
        <a href="//facebook.com/fiskeloggno"><i class="fa fa-facebook-f fa-fw"></i></a>
      </p>
    </div>
  </footer>
</template>
